.feed-layout {
  display: flex;
  gap: 30px;
  padding: 120px 60px 60px;
  background: #f0f2f5;
}

/* PROFILE SIDEBAR */
.profile-card {
  width: 260px;
  height: fit-content;
  background: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: sticky;
  top: 120px;
}

.profile-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.role {
  color: gray;
  font-size: 14px;
}

/* FEED */
.feed-container {
  flex: 1;
}

.feed-title {
  margin-bottom: 20px;
}

/* POST CARD */
.post-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.post-top {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.post-user span {
  font-size: 12px;
  color: gray;
}

.post-image {
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

.post-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: gray;
  font-size: 14px;
}

.post-actions {
  margin-top: 10px;
}

.post-actions button {
  padding: 6px 12px;
}

.comment-box {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.comment-box input {
  flex: 1;
  padding: 6px;
}

.comments {
  margin-top: 10px;
}

.comment {
  background: #f2f2f2;
  padding: 6px 10px;
  border-radius: 6px;
  margin-bottom: 5px;
}
