.member-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 0 60px;
  background: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
}

.logout {
  color: #ff4d4d;
}
